@charset "utf-8";
#th_detail {
	font-family: "Angsana New";
	font-size: 18px;
	color: #F00;
	text-decoration: none;
	background-color: #999;
	float: left;
	width: 380px;
	position: absolute;
	height: auto;
	left: 10px;
	top: 340px;
	right: auto;
	bottom: auto;
	text-align: left;
}

#th_detail1 {
	font-family: "Angsana New";
	font-size: 18px;
	color: #000;
	text-decoration: none;
	background-color: #999;
	float: left;
	width: 160px;
	position: absolute;
	height: auto;
	left: 70px;
	top: 0px;
	right: auto;
	bottom: auto;
	text-align: center;
}

#th_detail2 {
	font-family: "Angsana New";
	font-size: 18px;
	color: #000;
	text-decoration: none;
	background-color: #999;
	float: left;
	width: 150px;
	position: absolute;
	height: auto;
	left: 230px;
	top: 0px;
	right: auto;
	bottom: auto;
	text-align: right;
	font-weight: bold;
}

#th_detail_data1 {
	font-family: "Angsana New";
	font-size: 18px;
	color: #006;
	text-decoration: none;
	background-color: #FFF;
	float: left;
	width: 380px;
	position: absolute;
	height: 125px;
	left: 10px;
	top: 362px;
	right: auto;
	bottom: auto;
	text-align: center;
	font-weight: normal;
}

#th_detail_price {
	font-family: "Angsana New";
	font-size: 18px;
	text-decoration: none;
	color: #006;
	text-decoration: none;
	background-color: #FFF;
	float: left;
	width: 380px;
	position: absolute;
	height: auto;
	left: 10px;
	top: 487px;
	right: auto;
	bottom: auto;
	text-align: center;
}

#en_detail {
	font-family: "Angsana New";
	font-size: 18px;
	color: #F00;
	text-decoration: none;
	background-color: #999;
	float: left;
	width: 380px;
	position: absolute;
	height: auto;
	left: 10px;
	top: 509px;
	right: auto;
	bottom: auto;
	text-align: left;
}

#en_detail_data {
	font-family: "Angsana New";
	font-size: 18px;
	color: #006;
	text-decoration: none;
	background-color: #FFF;
	float: left;
	width: 380px;
	position: absolute;
	height: 125px;
	left: 10px;
	top: 531px;
	right: auto;
	bottom: auto;
	text-align: center;
}

#en_detail_price {
	font-family: "Angsana New";
	font-size: 18px;
	text-decoration: none;
	color: #006;
	text-decoration: none;
	background-color: #FFF;
	float: left;
	width: 380px;
	position: absolute;
	height: auto;
	left: 10px;
	top: autopx;
	right: auto;
	bottom: 0;
	text-align: center;
}
