@charset "utf-8";
#label_service {
	font-family: Tahoma;
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 821px;
	position: absolute;
	height: auto;
	left: 5px;
	top: 912px;
	right: auto;
	bottom: auto;
}
