@charset "utf-8";
#sale {
	font-family: Tahoma;
	font-size: 180px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	height: auto;
	width: auto;
	left: 70px;
	top: 10px;
	right: auto;
	bottom: auto;
	position: absolute;
}
